div
    div(class="modal-dialog")
        div(class="modal-content")
            div(class="modal-body")
                +back
                h2='Создать курс'
                br
                br
                if success
                    div(class="text-center text-success")=success
                    br
                if error
                    div(class="text-center text-danger")=error
                    br

                form(method="post", enctype="application/json")
                    div(class="mb-3")
                        label(for="title", class="form-label")="Название"
                        input(name='title', class="form-control" id="title")

                    div(class="mb-3")
                        label(for="desc", class="form-label")="Описание (size: 100)"
                        textarea(name='desc', maxlength=100 class="form-control" id="desc")

                    div(class="mb-3")
                        label(for="content", class="form-label")="Информация"
                        textarea(name='content', class="form-control" id="content")

                    div(class="mb-3")
                        label(for="users", class="form-label")="Доступ по email"
                        input(name='users', class="form-control" id="users")

                    div(class="mb-3")
                        br
                        h3= 'Уроки'
                        br

                    each val in [1, 2, 3, 4, 5]
                        div(class="mb-3")
                            label(for='lesson'+ val, class="form-label")='Урок '+ val
                            textarea(name='lesson'+ val, class="form-control" id='lesson'+ val)

                    button(type="submit", class="btn btn-primary")="Submit"


