div(class="text-center")
    if auth
        a(href="/create")='Создать курс'
    else
        a(href="/auth")='Авторизация'
        span='/'
        a(href="/reg")='Регистрация'

br
br
div
    h2(class="text-center")="Список курсов"
    br
    include ./list.pug
    br
    br
    div(class="text-center")
        a(href='/courses')="Посмотреть все"